.root {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.loading {
  display: flex;
  min-height: 160px;
  align-items: center;
  justify-content: center;
}

.action {
  align-self: flex-start;
}
