@use '@/shared/styles/mixins' as *;

.root {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);

  @include below(xl) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include below(sm) {
    grid-template-columns: 1fr;
  }
}
