.title {
  margin: 0;
  font-size: 27px;
  font-weight: 800;
  letter-spacing: -0.03em;
}

.toggleButton {
  padding: 0;
  border: none;
  background: none;
  color: var(--color-accent);
  cursor: pointer;
  font: inherit;

  &:hover {
    text-decoration: underline;
  }
}
