@use '@/shared/styles/mixins' as *;

.title {
  margin: 0;
  font-size: 27px;
  font-weight: 800;
  letter-spacing: -0.03em;
}

.toggleButton {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;

  @include text-link(inherit);
  @include touch-target;
}
