.root {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.hint {
  line-height: 1.5;
}

.floatingError {
  position: relative;
  padding-bottom: 20px;
}

.floatingError .error {
  position: absolute;
  bottom: 0;
  left: 0;
}
