.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  &:before,
  &:after {
    height: 1px;
    flex: 1;
    background-color: var(--color-border);
    content: '';
  }
}

.slot {
  display: flex;
  min-height: 40px;
  align-items: center;
  justify-content: center;
}

.pending {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-muted);
  gap: 9px;
}
