@use '@/shared/styles/mixins' as *;

.root {
  @include spin;

  display: inline-block;
  width: 13px;
  height: 13px;
  border: 2px solid currentcolor;
  border-top-color: transparent;
  border-radius: 50%;
}
